# Copy this file as .env and replace the values with your actual configuration.

BOT_TOKEN=""
OPENAI_API_KEY=""
# ALLOWED_CHAT_ID="" # Optional. If specified the bot will only reply to images sent from that specific chat.
